<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
					 xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c] %m%n"/>

			<!--<param name="ConversionPattern" value="%d{yyyy-MMM-dd HH:mm:ss,SSS} %-5p [%c{1}] %m%n"/>-->
		</layout>
	</appender>

	<appender name="dailyFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="logs/cams-action-provider-internal.log"/>
		<param name="MaxBackupIndex" value="5"/>
		<param name="MaxFileSize" value="100MB"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c] %m%n"/>
		</layout>
	</appender>

	<appender name="syslogAppender" class="org.apache.log4j.net.SyslogAppender">
		<param name="Facility" value="LOCAL7"/>
		<param name="FacilityPrinting" value="true"/>
		<param name="SyslogHost" value="localhost"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c] %m%n"/>
		</layout>
	</appender>

	<root>
		<level value="DEBUG"/>
		<appender-ref ref="consoleAppender"/>
		<appender-ref ref="dailyFileAppender"/>
		<appender-ref ref="syslogAppender"/>
	</root>
</log4j:configuration>